body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;

}

nav{
    margin-bottom: 15px;
}

.card,.col-6{
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-btn {
    display: flex;

}

.card-btn a{
    margin-right: 10px;
}